<h2> Advanced Options </h2>

<input ng-model="numInput" id="choiceContainer"></input>
<button ng-click=createOptionList(numInput)>Letters</button>
<div ng-repeat="option in optionList">
      <select name="singleSelect" ng-model="nameData[$index]">
        <option value="choseDefault">Default</option>
        <option value="choseCon">Consonants</option>
        <option value="choseVow">Vowels</option>
        <option value="choseChoose">Choose From</option>
        <option value="choseExclude">Exclude</option>
      </select>
      <div>
        <input ng-model="chooseFrom[$index]" ng-show="nameData[$index] === 'choseChoose' || nameData[$index] === 'choseExclude'"></input>
      </div>
    </div>

<button id="chooseFrom" ng-click="nameFunc(nameData)">Submit</button>
