<div class="center-holder">
  <div class="text-holder">
    <p> <strong>Advanced Options</strong><hr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra elementum enim, et aliquet velit ultrices a. Quisque ultrices, orci a dapibus vulputate, eros arcu convallis velit, eget accumsan arcu leo non est. Curabitur efficitur dui ullamcorper nisl accumsan, id gravida diam viverra. Proin posuere dapibus pharetra. Nam consequat diam augue, non interdum leo porttitor tincidunt. Fusce elementum orci erat, sagittis consectetur nisi dictum ut. Cras euismod, ex sit amet fermentum varius, odio massa facilisis lectus, ut blandit elit quam vel quam. Quisque quam risus, porttitor eu dui sed, congue cursus dui. Ut sed bibendum lacus, et pulvinar dui. Pellentesque eget nulla at ex vehicula sagittis. Cras ut eros faucibus, luctus enim quis, ultrices libero.  </p>
    <hr>
    <div class="drop-two">
      <input ng-model="numInput" id="choiceContainer" class="letter-input" placeholder="Letters"></input>
      <button ng-click=createOptionList(numInput) class="input-button">Letters</button>
        <div ng-repeat="option in optionList track by $index">
          <select name="singleSelect" ng-model="nameData[$index]">
            <option value="choseDefault">Default</option>
            <option value="choseCon">Consonants</option>
            <option value="choseVow">Vowels</option>
            <option value="choseChoose">Choose From</option>
            <option value="choseExclude">Exclude</option>
          </select>
          <div>
            <input ng-model="chooseFrom[$index]" ng-show="nameData[$index] === 'choseChoose' || nameData[$index] === 'choseExclude'"></input>
          </div>
        </div>
        <input class="letter-input" ng-model="advIter" placeholder="Words"></input>
        <button id="chooseFrom" ng-click="advancedName(advIter, nameData, advancedList, chooseFrom)" class="input-button" class="input-button">Submit</button>
      </div>
    </div>



  <div class="name-placer">
    <div class="results" ng-repeat="advance in advancedList track by $index">{{advance}}
    <button ng-click="moveAdvNames($index)" class="move-button"></button>
    <button ng-click="removeAdvName($index)" class="remove-button"></button>
    <hr>
    </div>
  </div>
</div>

<div class="inut-options">
  <div class="drop-one">
    <button ng-click="clearChoice()" class="input-button">Reset</button>
  <button ng-click="clearAdvList()" class="input-button">Clear</button>
</div>

</div>
