<div class="center-holder">
  <div class="text-holder">
    <p> <strong>Name Generator</strong><hr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra elementum enim, et aliquet velit ultrices a. Quisque ultrices, orci a dapibus vulputate, eros arcu convallis velit, eget accumsan arcu leo non est. Curabitur efficitur dui ullamcorper nisl accumsan, id gravida diam viverra. Proin posuere dapibus pharetra. Nam consequat diam augue, non interdum leo porttitor tincidunt. Fusce elementum orci erat, sagittis consectetur nisi dictum ut. Cras euismod, ex sit amet fermentum varius, odio massa facilisis lectus, ut blandit elit quam vel quam. Quisque quam risus, porttitor eu dui sed, congue cursus dui. Ut sed bibendum lacus, et pulvinar dui. Pellentesque eget nulla at ex vehicula sagittis. Cras ut eros faucibus, luctus enim quis, ultrices libero. </p>
  </div>
  <div class="name-placer">
    <div class="results" ng-repeat="name in nameList">{{name}}
    <button ng-click="moveNames($index)" class="move-button"></button>
    <button ng-click="removeName($index)" class="remove-button"></button>
    <hr>
    </div>
  </div>
</div>
<span class="input-line">
  <input ng-model="letterInput" placeholder="Letters" class="letter-input"></input>
  <input ng-model="iterInput" placeholder="Words" class="letter-input"></input>
  <button ng-click="randomName(letterInput, iterInput, nameList)" class="input-button">Select</button>
  <button ng-click="clearList()" class="input-button">Clear</button>
</span>
