<h2> User Notes </h2>
<hr>

<h3>Unused Names:</h3>
  <div class="unused-names-holder" ng-repeat="saved in savedNames" >
    <span>{{saved}}</span>
  <button ng-click="activateNames($index)"></button>
</div>

</hr>

<h3>Active Names:</h3>

<input placeholder="Add a Name" ng-model="newName"></input>
  <button ng-click="addName(newName)"></button>
<input placeholder="Add a Category" ng-model="newCat"></input>
  <button ng-click="addCategory(newCat)"></button>

<span class="list-holder">
  <span class="chosen-names" ng-repeat="used in usedNames">
    <div class="draggable-saved">{{used}}
      <input placeholder="Edits" ng-model="editedName"></input>
      <button ng-click="editName(editedName, $index)"></button>
      <button ng-click="removeSavedName($index)"></index>
    </div>
</span>
</span>

<div class="cat-holder">
  <div class="cat-names" ng-repeat="cat in newCategory">{{cat}}
    <button ng-click="removeCategory($index)"></index>
  </div>
</div>
