html {
  background-image: url("images/bgimage.jpg");
  width: 100%;
  margin:0;
  padding:0;
  height:100%;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

.header {
  width: 100%;
  height: 10em;
  border-top: gray solid 1em;
  border-bottom: gray solid .5em;
  background-image: url("images/headerfooterimage.jpg");
}

.header-text{
  margin-top:2em;
  bottom:0;
  color:white;
  font-size: 30pt;
  text-align: center;
}

.link-line {
  width: 100%;
  text-align: center;
  display:inline-block;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
}

.header-link {
  width: 10em;
  padding: .5em;
  font-size: 14pt;
  margin-left: .5em;
}


.header-link a:link, a:visited{
  text-decoration:none;
  color:black;

}

.header-link a:hover{
  text-decoration:underline;
}

.text-holder {
  min-height: 10em;
  padding-right: 2em;
  width: 40%;
  display: inline-block;
  display: table-cell;
}

.center-holder {
  min-height:20em;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:table;
  margin-top: 3em;
}

.name-placer {
  width: 40%;
  display:inline-block;
  min-height: 10em;
  border: double 3px black;
  margin-right: 5%;
  margin-top:0;
  padding-top:0;
  display:table-cell;
  background: #d3d3d3;
  margin-bottom: 2em;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom:5em;
}

.input-line{
  margin-top:6em;
  padding-top:6em;
  margin-left: 65%;
}
.footer {
    width: 100%;
    height: 4em;
    border-top: gray solid .5em;
    background-image: url("images/headerfooterimage.jpg");
    position:absolute;
    bottom:0;
    left:0;
  }

.results{
  text-align: center;
  font-size:14pt;
  font-family: sans-serif;
  margin-top: 5px;
}

.move-button{
  width:1em;
  height: 1em;
  background-color: green;
}
.remove-button{
    width:1em;
    height:1em;
    background-color: red;
}

.status-button {
  width:1em;
  height:1em;
  background-color: blue;
}

.letter-input{
  width:3em;
}

.drop-one{
  margin-right:5em;
  float:right;
}

.drop-two{
  margin-left: 20%;
}

.notes-visible{
  visibility: hidden;
  width:50%;
  min-width:5em;
}

.cat-names{
  font-size:22pt;
  font-weight: bold;
}

.secDirClass {
  font-family: cursive;
}
