html {
  background-image: url("images/bgimage.jpg");
  width: 100%
}

.header {
  width: 100%;
  height: 10em;
  border-top: gray solid 1em;
  border-bottom: gray solid .5em;
  background-image: url("images/headerfooterimage.jpg");
}

.header-text{
  margin-top:2em;
  bottom:0;
  color:gray;
  font-size: 30pt;
  text-align: center;
}

.link-line {
  width: 100%;
  text-align: center;
  display:inline-block;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
}

.header-link {
  width: 10em;
  padding: .5em;
  font-size: 14pt;
  margin-left: .5em;
}


.header-link a:link, a:visited{
  text-decoration:none;
  color:black;

}

.header-link a:hover{
  text-decoration:underline;
}

.text-holder {
  min-height: 10em;
  width: 40%;
  display: inline-block;
  margin-left:5%;
  margin-right: 7%;
  border:2px solid black;
}

.name-placer {
  width: 40%;
  display:inline-block;
  min-height: 10em;
  border: double 3px black;
  margin-right: 5%;
}

.footer {

    width: 100%;
    height: 4em;
    border-top: gray solid .5em;
    background-image: url("images/headerfooterimage.jpg");
    position:absolute;
    bottom:0;
}

.results{
  text-align: center;
  font-size:14pt;
  font-family: sans-serif;
}
