html {
  background-image: url("images/bgimage.jpg");
  width: 100%;
  margin:0;
  padding:0;
  height:100%;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

.header {
  width: 100%;
  height: 10em;
  border-top: gray solid 1em;
  border-bottom: gray solid .5em;
  background-image: url("images/headerfooterimage.jpg");
}

.header-text{
  margin-top:2em;
  bottom:0;
  color:white;
  font-size: 30pt;
  text-align: center;
}

.link-line {
  width: 100%;
  text-align: center;
  display:inline-block;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
}

.header-link {
  width: 10em;
  padding: .5em;
  font-size: 14pt;
  margin-left: .5em;
}


.header-link a:link, a:visited{
  text-decoration:none;
  color:black;

}


.text-holder {
  min-height: 10em;
  padding-right: 2em;
  width: 40%;
  display: inline-block;
  display: table-cell;
}

.center-holder {
  min-height:20em;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:table;
  margin-top: 3em;
}

.name-placer {
  width: 40%;
  display:inline-block;
  min-height: 10em;
  border: double 3px black;
  margin-right: 5%;
  margin-top:0;
  padding-top:0;
  display:table-cell;
  background: #d3d3d3;
  margin-bottom: 2em;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.wrapper:after {
  content: "";
  display: block;
  height: 4em;
}

.footer {
    height: 4em;
    border-top: gray solid .5em;
    background-image: url("images/headerfooterimage.jpg");
  }

.content {
  min-height:100%;
}

.input-line{
  margin-top:6em;
  padding-top:6em;
  margin-left: 65%;
}


.results{
  text-align: center;
  font-size:14pt;
  font-family: sans-serif;
  margin-top: 5px;
}

.move-button{
  width:1em;
  height: 1em;
  background-color: green;
}
.remove-button{
    width:1em;
    height:1em;
    background-color: red;
}

.status-button {
  width:1em;
  height:1em;
  background-color: blue;
}

.letter-input{
  width:3em;
}

.drop-one{
  margin-right:5em;
  float:right;
}

.drop-two{
  margin-left: 40%;
}

.input-options{
  margin-bottom:2em;
}

.unused-names-holder{
  display: inline-block;
  margin-left: 7em;
}

.unused-names{
margin-left: .5em;
margin-right: .5em;
}

.draggable-saved{
    margin-left: 5em;
}

.cat-names{
    margin-left: 5em;
}

.notes-visible{
  visibility: hidden;
  width:50%;
  min-height:5em;
}

.cat-names{
  font-size:22pt;
  font-weight: bold;
}

.cat-button{
  margin-bottom:12px;
}
.secDirClass {
  font-family: cursive;
}
.user-notes-head {
  margin-left:3em;
}
.user-notes {
  margin-left:5em;
}

.input-holder {
  margin-top: 1em;
margin-left: 5em;
}

.active {
  background:gray;
  border-bottom:black solid 2px;
  border-right:black solid 2px;
  border-left:black solid 2px;

}
.legal{
  color:gray;
  text-align:center;
  padding:1em;
}
